<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.essentialappsfm.sporttechniquesprinting" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.essentialappsfm.sporttechniqueforallsprinting.HomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.HomeActivity" />
        </activity>
        <activity
            android:name=".HelpScreen"
            android:label="Helps and Tips"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.HomeActivity" />
        </activity>
        <activity
            android:name=".VideoDisplay"
            android:label="Choose a Video to Analyse"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.HomeActivity" />
        </activity>
        <activity
            android:name=".PreviewActivity"
            android:label="@string/title_activity_preview"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.HomeActivity" />
        </activity>
        <activity
            android:name=".ComparisonActivity"
            android:label="@string/title_activity_comparison"
            android:parentActivityName=".AnalyseActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.CameraActivity" />
        </activity>
        <activity
            android:name=".AnalyseActivity"
            android:label="@string/title_activity_analyse"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.VideoDisplay" />
        </activity>
        <activity
            android:name=".WatchActivity"
            android:label="Tutorial"
            android:parentActivityName=".HelpScreen"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.HelpScreen" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.essentialappsfm.sporttechniquesprinting.HomeActivity" />
        </activity>
    </application>

</manifest>
